<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/N60-2Stack-W.png">

<!-- Libs CSS -->

<link rel="stylesheet" href="../assets/libs/prismjs/themes/prism.css">
<link rel="stylesheet" href="../assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.css">
<link rel="stylesheet" href="../assets/libs/prismjs/plugins/toolbar/prism-toolbar.css">
<link rel="stylesheet" href="../assets/libs/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="../assets/libs/dropzone/dist/dropzone.css" >
<link href="../assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">






<!-- Theme CSS -->
<link rel="stylesheet" href="../assets/css/theme.min.css">
        <title>Shadows | Dash Ui - Bootstrap 5 Admin Dashboard Template</title>
    </head>
    <body >
        <div id="db-wrapper">
           <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <!-- Brand logo -->
        <a class="navbar-brand" href="../index.html">
            <img src="../assets/images/brand/logo/N-Monogm-Green.png" alt="" />
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link has-arrow " href="../index.html">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>  Dashboard
                </a>

            </li>


         <!-- Nav item -->
         <li class="nav-item">
            <div class="navbar-heading">User Management</div>
        </li>


             <!-- Nav item -->
             <li class="nav-item">
                <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
                    <i data-feather="users"
                    class="nav-icon icon-xs me-2">
                </i>    Users
                </a>

                <div id="navPages" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " href="manageAdmin.html">
                                Manage Admin
                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow   "  href="managecoordinator.html" >
                                Manage Coordinator
                                </a>
                        </li>

                    </ul>
                </div>

                </li>


                    <!-- Nav item -->
                    <li class="nav-item">
                        <div class="navbar-heading">Manage Coursework</div>
                    </li>

                          <!-- Nav item -->
                          <li class="nav-item">
                            <a class="nav-link " href="adminPrograms.html" aria-expanded="false">
                                <i data-feather="layers" class="nav-icon icon-xs me-2">
                                </i>  Programs
                            </a>
                                    </li>

       <!-- Nav item -->
       <li class="nav-item">
        <a class="nav-link " href="adminCourses.html" aria-expanded="false">
            <i data-feather="book-open" class="nav-icon icon-xs me-2">
            </i>  Courses
        </a>
                </li>
       <!-- Nav item -->

                <li class="nav-item">
                    <a class="nav-link " href="adminTerms.html" aria-expanded="false">
                        <i data-feather="calendar" class="nav-icon icon-xs me-2">
                        </i>  Terms
                    </a>
                            </li>

                        

                            <!-- Nav item -->
                            <li class="nav-item">
                                <a class="nav-link " href="adminCarousel.html" aria-expanded="false">
                                    <i data-feather="bookmark" class="nav-icon icon-xs me-2" >
                                </i> Carousel
                                </a>
                                        </li>
                        
                                         <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Manage Student</div>
                        </li>
                      
                      
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link " href="adminStudent.html" aria-expanded="false">
                                <i data-feather="user" class="nav-icon icon-xs me-2" >
                            </i> Student
                            </a>
                                    </li>

                  <!-- Nav item -->
                  <li class="nav-item">
                    <div class="navbar-heading">Email Management</div>
                </li>
               
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link " href="adminEmail.html" aria-expanded="false">
                                <i data-feather="mail" class="nav-icon icon-xs me-2" >
                            </i> Email
                            </a>
                                    </li>
                                    
                    </ul>

                </div>
</nav>
            <div id="page-content">
                <div class="header @@classList">
  <!-- navbar -->
  <nav class="navbar-classic navbar navbar-expand-lg">
    <a id="nav-toggle" href="#"><i
        data-feather="menu"

        class="nav-icon me-2 icon-xs"></i></a>
    <!--Navbar nav -->
    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
      <!-- List -->
      <li class="dropdown ms-2">
        <a class="rounded-circle" href="#" role="button" id="dropdownUser"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-md avatar-indicators avatar-online">
            <img alt="avatar" src="../assets/images/avatar/avatar-221.jpg"
              class="rounded-circle" />
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownUser">
          <div class="px-4 pb-0 pt-2">


            <div class="lh-1 ">
              <h5 class="mb-1"> Soumya</h5>
              <a href="#" class="text-inherit fs-6">Admin</a>
            </div>
            <div class=" dropdown-divider mt-3 mb-2"></div>
          </div>

          <ul class="list-unstyled">

            <li>
              <a class="dropdown-item" href="../pages/sign-in.html">
                <i class="me-2 icon-xxs dropdown-item-icon"
                  data-feather="power"></i>Sign Out
              </a>
            </li>
          </ul>

        </div>
      </li>
    </ul>
  </nav>
</div>
                <div class="container-fluid py-12 px-6 px-xl-0">
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
                            <!-- Content -->
                            <div class="docs-content">
                              <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="mb-7" >
                                    <h1 class="mb-2">Shadows</h1>
                                    <p class="mb-0 lead text-dark">Add or remove shadows to elements with box-shadow utilities.</p>
                                  </div>
                                </div>
                              </div>
                              <!-- Flush -->
                              <div class="row ">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div  class="mb-4">
                                    <h3>Example </h3>
                                    <p class="mb-0">While shadows on components are disabled by default in Bootstrap and can be enabled via <code>$enable-shadows</code>, you can also quickly add or remove a shadow with our <code>box-shadow</code> utility classes. Includes support for <code>.shadow-none</code> and three default sizes (which have associated variables to match).</p>

                                  </div>
                                  <!-- Card -->
                                  <div class="card">
                                    <ul class="nav nav-line-bottom " id="pills-tab-shadows" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="pills-shadows-design-tab" data-bs-toggle="pill"
                                          href="#pills-shadows-design" role="tab" aria-controls="pills-shadows-design"
                                          aria-selected="true">Design</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="pills-shadows-htms-tab" data-bs-toggle="pill"
                                          href="#pills-shadows-html" role="tab" aria-controls="pills-shadows-html"
                                          aria-selected="false">HTML</a>
                                      </li>
                                    </ul>
                                    <!-- Tab content -->
                                    <div class="tab-content p-4" id="pills-tabContent-shadows">
                                      <div class="tab-pane tab-example-design fade show active" id="pills-shadows-design"
                                        role="tabpanel" aria-labelledby="pills-shadows-design-tab">
                                        <div class="shadow-none p-3 mb-5 bg-light rounded-1">No shadow</div>
                                        <div class="shadow-sm p-3 mb-5 bg-white rounded-1">Small shadow</div>
                                        <div class="shadow p-3 mb-5 bg-white rounded-1">Regular shadow</div>
                                        <div class="shadow-lg p-3 mb-5 bg-white rounded-1">Larger shadow</div>
                                        <div class="smooth-shadow-sm p-3 mb-5 bg-white rounded-1">Regular shadow</div>
                                        <div class="smooth-shadow-md p-3 mb-5 bg-white rounded-1">Medium shadow</div>
                                        <div class="smooth-shadow-lg p-3 bg-white rounded-1">Larger shadow</div>


                                      </div>
                                      <div class="tab-pane tab-example-html fade " id="pills-shadows-html" role="tabpanel"
                                        aria-labelledby="pills-shadows-htms-tab">
                                        <div class="copy-content copy-content-height">
                                          <div class="code-toolbar">
                                            <pre class="line-numbers language-markup"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-none p-3 mb-5 bg-light rounded-1<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>No shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-sm p-3 mb-5 bg-white rounded-1<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Small shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow p-3 mb-5 bg-white rounded-1<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Regular shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
                <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>shadow-lg p-3 mb-5 bg-white rounded-1<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Larger shadow<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- Shadows -->
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/libs/feather-icons/dist/feather.min.js"></script>
<script src="../assets/libs/prismjs/components/prism-core.min.js"></script>
<script src="../assets/libs/prismjs/components/prism-markup.min.js"></script>
<script src="../assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>


<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>



<!-- Theme JS -->
<script src="../assets/js/theme.min.js"></script>
</body>
</html>
